fastapi
uvicorn
pymupdf
pytesseract
pillow
langchain-groq
python-dotenv
requests
pydantic
pdfplumber
camelot-py
pdf2image
plotly
streamlit
python-docx
python-docx
PyPDF2
babel
numpy
pandas
easyocr
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu





